body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid grey;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
}

main section {
  width: 100%;
  max-width: 1200px;
}

.search-bar{
width: 100%;
text-align: center;
height: 1rem;
padding: 1rem 0;
margin-bottom: 1rem;
}

.movie-details{
  margin: 1rem 0;
}